.hero {
    display: inline-block;
}

.main {
    max-height: 500px
}

.leftSide {
    max-height: 300px;
    margin-right: 1rem;
    margin-bottom: 4rem
}

.rightSide {
    max-height: 300px;
    margin-left: 1rem;
    margin-bottom: 4rem
}

